{%- set class = class|default('') %}
{%- set text = text|default('') %}
{%- set buttonLink = buttonLink|default('') %}
{%- set buttonText = buttonText|default('Go') %}

{% if text and buttonLink %}
    <div class="c-action {{ class }}">
        <div class="container">
            <div class="col-md-12">
                <div class="box">
                    <p>{{ text }}</p>
                    <a class="c-button" href="{{ buttonLink }}">{{ buttonText|raw }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

