<div class="c-form-embedded" id="{{ form }}-form">

    {{ craft.sproutForms.displayForm(form) }}

    <div class="c-form-embedded__extra">
        <span class="key">* = required</span>
    </div>
</div>