//
// App
//

// Object
.o-header {
    @include clearfix();

    position: relative;
    width: 100%;
    padding: 0 0.9375rem;
    background-color: $gray-darker;
    z-index: $zIndex-12;

    .logo {
        display: block;
        max-width: 85%;
        width: auto;
        padding: 25px 0;

        @include media-breakpoint-up(sm) {
            width: 280px;
            padding: 18px 0;
        }

        @include media-breakpoint-up(md) {
            float: left;
            width: 370px;
            padding: 16px 0;
        }
    }

    .mainnav {
        display: none;
        margin-bottom: 0;

        @media (min-width: 1100px) {
            display: block;
            float: right;
            height: 117px;

            > li {
                display: inline-block;
                position: relative;
                margin-left: 10px;
                margin-top: 45px;

                @include media-breakpoint-up(lg) {
                    margin-left: 15px;
                }

                &:hover {
                    .mainnav__dropdown {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                &:hover > a,
                > a.is-active {
                    color: $blue-light;

                    &:after {
                        top: 28px;
                        opacity: 1;
                    }
                }

                > a {
                    position: relative;

                    font-size: 0.7rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: #fff;

                    @include media-breakpoint-up(lg) {
                        font-size: $font-size-sm;
                    }

                    &:after {
                        content: '';

                        position: absolute;
                        top: 40px;
                        left: 0;

                        display: block;
                        width: 100%;
                        height: 2px;

                        background-color: $blue-light;
                        opacity: 0;

                        transition: top $animation-xshort ease-in-out,
                        opacity $animation-xshort ease-in-out;
                    }

                    &,
                    &.is-active,
                    &:hover {
                        padding-bottom: 55px;
                    }
                }
            }
        }

        &__dropdown {
            @include shadow(2);

            position: absolute;
            left: 0;
            top: 30px;

            display: block;
            width: 260px;
            height: auto;
            opacity: 0;
            z-index: $zIndex-12;

            background-color: $ui-primary;
            pointer-events: none;

            transition: top $animation-xshort ease-in-out,
                        opacity $animation-xshort ease-in-out;

            @media (max-height: 750px) {
                max-height: 350px;
                // 150 = top offset + gutter
                max-height: calc(100vh - 150px);
                overflow-y: scroll;
            }

            li {
                display: block;
                width: 100%;

                a {
                    display: block;
                    width: 100%;
                    padding: 0.8rem ($gutter / 2);

                    color: #fff;
                    font-size: 1rem;
                    background-color: $ui-primary;

                    transition: background-color $animation-xshort ease-in-out;

                    &:hover {
                        background-color: darken($ui-primary, 7%);
                    }
                }
            }
        }
    }

    .nav-toggle {
        position: absolute;
        top: 50%;
        right: 0;

        display: block;
        margin-top: -(2.2rem / 2);


        font-size: 2.2rem;
        line-height: 1;
        color: #fff;
        cursor: pointer;

        @include media-breakpoint-up(md) {
            margin-top: -(2.8rem / 2);
            font-size: 2.8rem;
        }

        @media (min-width: 1100px) {
            display: none;
        }
    }
}

.mobilenav {
    padding: 0 0.9375rem;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;
    z-index: 600;
    background-color: $gray-darker;
    @include drop-shadow();

    &.is-open {
        max-height: 550px;
    }

    transition: max-height $animation-short ease-in-out;

    @media (min-width: 1100px) {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0 0 30px 0;

        li {
            padding: 0 0.9375rem;

            a {
                display: block;
                font-size: $font-size-lg - .1;
                line-height: $line-height + .4;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $blue-light;
                text-align: left;
            }
        }
    }
}

.header-wrapper {
    @include media-breakpoint-down(xl) {
        max-width: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
