//
// Ajax
//

.js-ajax {
    &__loaded {
        animation: fadeIn $animation-medium ease-in-out 0s 1 forwards;
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
