//
// App
//

// Component
.c-attorney-slider {
    position: relative;
    padding: 60px 0 80px;
    background-color: #fff;
    text-align: center;

    @include media-breakpoint-up(sm) {
        .container {
            padding: 0 60px;
        }
    }

    @include media-breakpoint-up(md) {
        .container {
            padding: 0 40px;
        }
    }
    .section-head {
        margin-bottom: 20px;
        font-family: $font-family-serif;
        font-size: $font-size-h1;
        font-weight: $font-weight-normal;
    }

    .attorney-slide {
        width: 100%;
        margin-bottom: 40px;
    }

    .hide-phone {
        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .hide-tablet {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .entry {
        position: relative;
        margin: 0 40px;
        // border: 1px solid #dedede;
        overflow: hidden;

        display: block;

        @include media-breakpoint-up(sm) {
            margin: 0;
        }

        img {
            width: 100%;
        }

        .overlay {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 20px 15px;
            background-color: rgba(0,128,165,0.6);
            text-align: left;
            -webkit-transition: background-color .3s, padding .3s;
            transition: background-color .3s, padding .3s;

            .name,
            .title {
                font-size: $font-size-base;
                font-family: $font-family-serif;
                line-height: $line-height - .2;
                color: #fff;
                margin-bottom: 0;

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-lg;
                }
            }

            .title {
                font-size: $font-size-sm;
                font-family: $font-family-sans-serif;
                font-style: italic;
                color: $gray-lighter;
                margin-bottom: 0;

                @include media-breakpoint-up(xl) {
                    font-size: $font-size-base;
                }
            }
        }

        &:hover .overlay {
            padding: 30px 15px;
            background-color: rgba(0,0,0,0.6);
        }
    }

    .arrow {
        height: 70px;
        position: absolute;
        top: 46%;
            -webkit-transform: translateY(-46%);
            -ms-transform: translateY(-46%);
            transform: translateY(-46%);

        padding: 0 2px;
            -webkit-transition: padding .2s; /* Safari */
            transition: padding .2s;

        background-color: rgba(0,0,0,0.1);
        z-index: 500;
        cursor: pointer;

        &:hover {
            padding: 0 8px;
            background-color: rgba(40,113,154,0.6);
        }

        i {
            font-size: 2rem;
            color: #fff;
            @include valign();
        }
    }

    .arrow-left {
        left: 0;
    }

    .arrow-right {
        right: 0;
    }
}

.attorney-slideshow {
    display: none;

    *:focus {
        outline: none;
    }
}
