{% extends '_layouts/basic' %}

{%- set metaTitle = 'Thanks' %}
{%- set bodyClass = 't-ajax-popup t-ajax-popup--thanks'  %}

{% block content %}
    <h2 class="t-ajax-popup__headline u-m-t-0">Thank you!</h2>
    <h4 class="t-ajax-popup__subheadline">Your email has been sent.</h4>
{% endblock %}
