

<!doctype html>
<html id="frunt" lang="en">
    <head>

            <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- DNS prefetching (Useful for Amazon S3 and Rackspace Files -->
<link rel="dns-prefetch" href="">

<!-- Facebook -->
<meta property="og:title" content="Anuj Sud has no affiliation with McNamee Hosea.">
<meta property="og:type" content="article">
    <meta property="og:description" content="Anuj Sud has no affiliation with McNamee Hosea.">
<meta property="og:url" content="https://www.mhlawyers.com/news/anuj-sud-joins-the-firm-as-an-associate">
<meta property="og:site_name" content="McNamee Hosea">
<!-- <meta property="fb:admins" content="">
<meta property="fb:app_id" content=""> -->

<!-- Twitter -->
<meta name="twitter:site" content="">
<meta name="twitter:url" content="https://www.mhlawyers.com/news/anuj-sud-joins-the-firm-as-an-associate">
    <meta name="twitter:description" content="Anuj Sud has no affiliation with McNamee Hosea.">
<meta name="twitter:title" content="Anuj Sud has no affiliation with McNamee Hosea.">
<meta name="twitter:card" content="summary">

<!-- Canonical URL -->
<link rel="canonical" href="">
<title>Anuj Sud has no affiliation with McNamee Hosea.</title>
<meta name="description" content="Anuj Sud has no affiliation with McNamee Hosea.">

<!-- Styles -->
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">

<!-- Fonts/Icons -->
<script src="https://use.fonticons.com/6c33adc4.js"></script>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#37a0c2">

<!--[if lt IE 9]>
    <script src="/assets/vendor/js/html5shiv.min.js"></script>
    <script src="/assets/vendor/js/respond.min.js"></script>
<![endif]-->

<!-- Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-76347686-1', 'auto');
ga('send', 'pageview');
</script>
            </head>
    <body class="o-app js-body t-interior t-error t-error--404" ontouchstart="">

        <div class="o-app">

            <div class="c-topbar">
                <form class="c-top-search js-form js-search-bar" action="/search/results">
    <div class="container">
        <input class="c-search__textinput c-textinput c-top-search__textinput js-form__required js-search__textinput" type="text" name="q" placeholder="keywords" required>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="call-no">Call<span class="hide">&nbsp;for a Consultation</span><a class="number js-phone-number">(301) 441-2420</a></p>

            <a class="search-trigger js-search-trigger" href="#"><i class="fa fa-search"></i></a>

            <ul class="topnav">
                <li><a class="careers" href="/careers">Careers</a></li>
                                <li><a class="payment" href="/make-a-payment"><i class="fa fa-lock"></i> Make a Payment</a></li>
            </ul>
        </div>
    </div>
</div>
            </div>

            <header class="o-header js-header">
                <div class="container header-wrapper">
    <div class="row">
        <div class="col-md-12">

            <a class="logo" href="/">
                <img class="u-hidden-print" src="/assets/img/McNameeHoseaLogo.png" alt="McNamee Hosea">
                <img class="u-visible-print-block" src="/assets/McNameeHoseaLogo-color.jpg" alt="McNamee Hosea">
            </a>

            <span class="nav-toggle"><i class="fa fa-menu"></i></span>

            <ul class="mainnav">
                <li><a class="" href="/">Home</a></li>
                <li>
                    <a class="" href="/about">About</a>                                            <ul class="mainnav__dropdown">
                                                            <li><a href="https://www.mhlawyers.com/about/why-work-with-us">Why Work with Us</a></li>
                                                            <li><a href="https://www.mhlawyers.com/about/firm-history">Firm History</a></li>
                                                            <li><a href="https://www.mhlawyers.com/about/community-involvement">Community Involvement </a></li>
                                                    </ul>
                                    </li>
                <li><a class="js-mega-menu__nav" data-mega-menu-id="attorneys" href="/attorneys">Attorneys</a></li>
                <li>
                    <a class="" href="/practice-areas">Practice Areas</a>
                                            <ul class="mainnav__dropdown">
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/business">Business</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/litigation">Litigation</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/estates-trusts">Estates &amp; Trusts</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/bankruptcy">Bankruptcy</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/real-estate">Real Estate</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/construction">Construction</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/employment">Employment</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/tax">Tax</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/family">Family</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/criminal-defense">Criminal Defense</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/intellectual-property">Intellectual Property</a></li>
                                                            <li><a href="https://www.mhlawyers.com/practice-areas/personal-injury">Personal Injury</a></li>
                                                    </ul>
                                    </li>
                <li><a class="is-active" href="/news">News</a></li>
                <li><a class="" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="c-mega-menu js-mega-menu__wrapper">
    <div class="c-mega-menu__target js-mega-menu__dropdown" data-mega-menu-id="attorneys">        <div class="container">
            <form class="row" action="/attorneys" method="GET">
                <div class="col-xs-6">
                    <div class="c-input-group c-input-group--icon">
                        <label class="c-input-group__label">Search for a lawyer by name</label>
                        <div class="c-input-group__input">
                            <input class="c-textinput c-input-group__textinput" name="name">
                            <i class="fa fa-search c-input-group__icon"></i>
                        </div>
                    </div>
                    <div class="c-attorney-search__alphabetically">
                        <label class="c-input-group__label">Browse Alphabetically</label>
                        <ul>
                            <li><a href="/attorneys?letter=A">A</a></li>
                            <li><a href="/attorneys?letter=B">B</a></li>
                            <li><a href="/attorneys?letter=C">C</a></li>
                            <li><a href="/attorneys?letter=D">D</a></li>
                            <li><a href="/attorneys?letter=E">E</a></li>
                            <li><a href="/attorneys?letter=F">F</a></li>
                            <li><a href="/attorneys?letter=G">G</a></li>
                            <li><a href="/attorneys?letter=H">H</a></li>
                            <li><a href="/attorneys?letter=I">I</a></li>
                            <li><a href="/attorneys?letter=J">J</a></li>
                            <li><a href="/attorneys?letter=K">K</a></li>
                            <li><a href="/attorneys?letter=L">L</a></li>
                            <li><a href="/attorneys?letter=M">M</a></li>
                            <li><a href="/attorneys?letter=N">N</a></li>
                            <li><a href="/attorneys?letter=O">O</a></li>
                            <li><a href="/attorneys?letter=P">P</a></li>
                            <li><a href="/attorneys?letter=Q">Q</a></li>
                            <li><a href="/attorneys?letter=R">R</a></li>
                            <li><a href="/attorneys?letter=S">S</a></li>
                            <li><a href="/attorneys?letter=T">T</a></li>
                            <li><a href="/attorneys?letter=U">U</a></li>
                            <li><a href="/attorneys?letter=V">V</a></li>
                            <li><a href="/attorneys?letter=W">W</a></li>
                            <li><a href="/attorneys?letter=X">X</a></li>
                            <li><a href="/attorneys?letter=Y">Y</a></li>
                            <li><a href="/attorneys?letter=Z">Z</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="c-input-group">
                        <label class="c-input-group__label">Filter by Practice Area</label>
                        <div class="c-select">
                            <select class="js-select-autosubmit c-textinput c-select__input c-input-group__textinput c-input-group__select" name="practiceArea">
                                <option value="" disabled selected>Practice Area</option>
                                <option value="" value="">All</option>
                                                                    <option value="6">Business</option>
                                                                    <option value="28">Litigation</option>
                                                                    <option value="44">Estates &amp; Trusts</option>
                                                                    <option value="50">Bankruptcy</option>
                                                                    <option value="9">Real Estate</option>
                                                                    <option value="36">Construction</option>
                                                                    <option value="14">Employment</option>
                                                                    <option value="18">Tax</option>
                                                                    <option value="19">Family</option>
                                                                    <option value="33">Criminal Defense</option>
                                                                    <option value="34">Intellectual Property</option>
                                                                    <option value="35">Personal Injury</option>
                                                            </select>
                        </div>
                    </div>

                    <div class="c-input-group">
                        <label class="c-input-group__label">Filter by Location</label>
                        <div class="c-select">
                            <select class="js-select-autosubmit c-textinput c-select__input c-input-group__textinput c-input-group__select" name="location">
                                <option value="" disabled="" required="" selected="">By Location</option>
                                <option value="" value="">All</option>
                                <option value="greenbelt">Greenbelt</option>
                                <option value="annapolis">Annapolis</option>
                                <!-- <option value="virginia">Virginia</option> -->
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
            </header>

            <div class="mobilenav">
                <form class="nav-search" action="/search/results">
    <input type="text" placeholder="Search">
    <button type="submit" class="search-trigger"><i class="fa fa-search"></i></button>
</form>

<ul>
    <li><a  href="/">Home</a></li>
    <li><a  href="/about">About</a></li>
    <li><a  href="/attorneys">Attorneys</a></li>
    <li><a  href="/practice-areas">Practice Areas</a></li>
    <li><a class="is-active" href="/news">News</a></li>
    <li><a  href="/contact">Contact</a></li>
    <li><a  href="/careers">Careers</a></li>
        <li><a  href="/make-a-payment"><i class="fa fa-lock"></i> Make a Payment</a></li>
</ul>
            </div>


<main class="o-main" role="main">
    <div class="c-interior-page-utility">
        <div class="container">
                <ul class="c-breadcrumb breadcrumb">
        <li class="c-breadcrumb__crumb"><a href="/"><span>Home</span></a></li>                                                        <li class="c-breadcrumb__crumb"><a href="/news/"><span>news</span></a></li>
                                                                                    <li class="c-breadcrumb__crumb"><a href="/news/anuj-sud-joins-the-firm-as-an-associate/"><span>anuj sud joins the firm as an associate</span></a></li>
                                        </ul>




        </div>
    </div>


    <div class="c-interior-stage">
        <div class="container">
            <div class="col-md-12">
                <div class="colorbar">
                    <p class="page-title">Notice</p>
                                            <a href="/news"><p class="backto"><i class="fa fa-chevron-left"></i> Back</p></a>
                                    </div>
            </div>
        </div>
    </div>

    <div class="c-interior-content">
        <div class="container">
            <div class="col-xs-12 col-lg-12 left-col">
                <div class="o-main__content">
                    <h2 style="border: 0;">Anuj Sud has no affiliation with McNamee Hosea.</h2>
                </div>
            </div>
        </div>
    </div>

</main>


            <footer class="o-footer">
                <div class="container">
    <div class="footer-col">
        <a class="logo" href="/"><img src="/assets/img/McNameeHoseaLogo.png" alt="McNamee Hosea"></a>
    </div>
    <div class="info-right">
        <div class="footer-col links">
            <p class="title">Links</p>
            <ul class="footernav">
                <li><a class="" href="/">Home</a></li>
                <li><a class="" href="/about">About</a></li>
                <li><a class="" href="/attorneys">Attorneys</a></li>
                <li><a class="" href="/practice-areas">Practice Areas</a></li>
                <li><a class="is-active" href="/news">News</a></li>
                <li><a class="" href="/contact">Contact</a></li><br>
            </ul>
        </div>
        <div class="footer-col links tertiary">
            <p class="title">&nbsp;</p>
            <ul class="footernav">
                <li><a class="" href="/careers">Careers</a></li>
                                <li><a class="" href="/make-a-payment"><i class="fa fa-lock"></i> Make a Payment</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <p class="title">Contact Us</p>
            <p>Need help from our attorneys?</p>
            <a href="/contact" class="c-button">Get help today</a>
        </div>
        <div class="footer-col">
            <p class="title">Connect</p>
            <p>Stay in the loop.</p>
            <a href="https://www.facebook.com/McNameeHosea"><i class="fa fa-facebook-square social"></i></a>
            <a href="https://twitter.com/MHLawyersNews"><i class="fa fa-twitter-square social"></i></a>
            <a href=""><i class="fa fa-linkedin-square social"></i></a>
        </div>
    </div>
</div>
            </footer>

            <div class="c-bottom">
                <div class="container">
    <p>© 2017 McNamee, Hosea, Jernigan, Kim, Greenan & Lynch, P.A. All rights reserved.</p>
    <p>Made with <i class="fa fa-heart-outlined"></i> by <a href="http://www.picdorsey.com" target="_blank">Piccirilli Dorsey, Inc.</a></p>
</div>
            </div>

        </div>

                    <!-- SiteImprove -->
<script type="text/javascript">
    /*<![CDATA[*/
    (function() {
    var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
    sz.src = '//siteimproveanalytics.com/js/siteanalyze_83727.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
    })();
    /*]]>*/
</script>
 <!-- End SiteImprove -->

<!-- Javascripts -->
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/bundle.js"></script>


            </body>
</html>
