<div class="container">
    <p>© {{ now|date('Y') }} McNamee Hosea. All rights reserved.</p>
    <p>Made with <i class="fa fa-heart-outlined"></i> by <a href="https://vericreative.com" target="_blank">Veri Creative, Inc.</a></p>
</div>
